body {
  height: 100%;
  margin: 0;
  font-family: "Lato", sans-serif;
  font-size: 16px;
}

.header, .pic2, .pic3, .pic4 {
  position: relative;
  /* opacity: 0.70; */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header {
  padding-left: 86px;
}


.header-logo-text,
.header-sent,
.caps-lock-html,
.header-sent {
  margin: 0;
}

.header-small-text {
  color: #fff;
  padding-top: 300px;
  /* margin: auto; */
}

.header-logo-text {
  text-transform: uppercase;
  font-family: Montserrat;
  color:  #ffffff;
  font-size: 48px;
  font-weight: 700;
  text-align: left;
  padding-bottom: 16px;
}

.header-big-text {
  display: inline-block;
}

.capitalize-text {
  text-transform: capitalize;
}

.uppercase-text {
  text-transform: uppercase;
}

.caps-lock-thml {
  text-transform: uppercase;
}

.we-word {
  text-transform: uppercase;
  border-style: solid;
  border-width: 1px;
  border-color:  #ffffff;
  background-color:  #ffffff;
  width: 152px;
  height: 90px;
  font-family: Montserrat;
  color:  #f1ad1d;
  font-size: 54px;/* Приближение из-за подстановки шрифтов */
  font-weight: 700;
  text-align: center;
  padding-top: 49px;
  float: left;


}

.make-design-word {
  text-transform: uppercase;
  border-style: solid;
  border-width: 1px;
  border-color:  #ffffff;
  background-color:  rgba(0, 0, 0, 0.3);
  width: 831px;
  height: 90px;
  font-family: Montserrat;
  color:  #ffffff;
  font-size: 54px;/* Приближение из-за подстановки шрифтов */
  font-weight: 700;
  text-align: center;
  padding-top: 49px;
}

.header {
  background-image: url('./image/bg1.jpg');
  min-height: 100%;
}

.pic2 {
  background-image: url('./image/bg2.png');
  min-height: 380px;
}

.pic3 {
  background-image: url('./image/bg3.png');
  min-height: 475px;
}

.pic4 {
  background-image: url('./image/bg4.jpg');
  min-height: 485px;
}

hr {
  height: 3px;
  width: 60px;
  background-color: #f1ad1d;
  border: none;

}

#last-hr {
  height: 3px;
  width: 281px;
  background-color: #fff;
  border: none;
}

/* .section1-text,
.section1-abstract,
.section2-text,
.section2-abstract,
.section3-text,
.section3-abstract,
.section4-text,
.section4-abstract {
    margin: auto;
    width: 50%;
} */


.section1,
.section2,
.section3,
.section4,
.pic2-text,
.pic3-text,
.pic4-text {
    margin: auto;
    width: 50%;
}

.pic2-text,
.pic3-text,
.pic4-text {
  text-align: center;
}


.section1-header,
.section2-header,
.section3-header,
.section4-header {
  text-transform: uppercase;
  text-align: center;
}

.section1-abstract,
.section2-abstract,
.section3-abstract,
.section4-abstract {
  text-transform: capitalize;
  text-align: center;
}

.section4 {
  padding-top: 150px;
  padding-bottom: 179px;
}

.hashtag-color-yellow,
.word-color-yellow,
.link-color-yellow {
  color:  #f1ad1d;
}

p a {
  text-decoration: none;
  color: #f1ad1d;
}

.pic2,
.pic3,
.pic4 {
  color: #fff;
}

li {
  list-style-type: none;
  display: inline-block;
  padding-left: 60px;
}

.featured-sites {
  width: 100%;
}

.section {
  padding-top: 130px;
  padding-bottom: 120px;
}
